/org.eclipse.persistence.jpa-2.5.0.jar
/derby-10.9.1.0.jar
/derbyclient-10.9.1.0.jar
/javax.persistence-2.1.0.jar
/junit-4.11.jar
/org.eclipse.persistence.jpa.jpql-2.5.0.jar
/eclipselink-2.5.1.jar
/hibernate-jpa-2.1-api-1.0.0.Final.jar
/commonj.sdo-2.1.1-sources.jar
/org.eclipse.persistence.antlr-2.5.0.jar
/org.eclipse.persistence.asm-2.5.0.jar
/org.eclipse.persistence.core-2.5.0.jar
/org.eclipse.persistence.jpa.modelgen.processor-2.5.1.jar
